body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 15000px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
}

h1 {
    color: #333;
    font-size: 3em;
    font-weight: bold;
    margin: 1em 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 1em 0;
}

a {
    font-size: 20px;
}

h1,
p,
a {
    animation: rainbow 20s infinite;
    text-shadow: 0 0 10px #333333;
}

img {
    height: 300px;
    border-radius: 50%;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    position: absolute;
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-container iframe {
        width: 177.78vh;
    }
}